In [16]:
import numpy as np
import pandas as pd
import sys, os
import glob
from pprint import pprint
import csv
from collections import Counter

In [17]:
from pathlib import Path

In [18]:
df = pd.read_csv('/data-nas/sathiesh/niftynet_brain/models/brats/dataset_split.csv', header=None)
df.head(5)
#training, inference, validation

                   0         1
0  Brats18_2013_10_1  training
1  Brats18_2013_11_1  training
2  Brats18_2013_12_1  training
3  Brats18_2013_13_1  training
4  Brats18_2013_14_1  training

In [19]:
len(df)

285

In [20]:
df[1] = 'training' #values are now training 
df.head()

                   0         1
0  Brats18_2013_10_1  training
1  Brats18_2013_11_1  training
2  Brats18_2013_12_1  training
3  Brats18_2013_13_1  training
4  Brats18_2013_14_1  training

In [21]:
studies_id = df[0]

In [22]:
id_values = [ "_".join(s.split("_")[:2]) for s in studies_id] #Brats18_2013_10_1

In [23]:
names = Counter(id_values).keys() # equals to list(set(words))
values = Counter(id_values).values() # counts the elements' frequency

In [24]:
dictionary = dict(zip(names, values))
dictionary

{'Brats18_2013': 30,
 'Brats18_CBICA': 88,
 'Brats18_TCIA01': 22,
 'Brats18_TCIA02': 34,
 'Brats18_TCIA03': 12,
 'Brats18_TCIA04': 8,
 'Brats18_TCIA05': 4,
 'Brats18_TCIA06': 8,
 'Brats18_TCIA08': 14,
 'Brats18_TCIA09': 11,
 'Brats18_TCIA10': 35,
 'Brats18_TCIA12': 6,
 'Brats18_TCIA13': 13}

In [25]:
df.loc[df[0].str.contains('Brats18_TCIA03'), 1] = 'validation'

In [26]:
df.loc[df[0].str.contains('Brats18_TCIA06'), 1] = 'inference'

In [27]:
df.to_csv('/data-nas/sathiesh/niftynet_brain/models/brats/dataset_split.csv', index=False,header=None)