In [1]:
import sys, os
import glob
from pprint import pprint
import csv
from pathlib import Path
import numpy as np
import shutil
import pandas as pd

In [2]:
df = pd.read_csv('/data-nas/sathiesh/niftynet_brain/outputs/ixi/evaluation/eval_subject_id_label.csv')
df.head(5)

  subject_id  label      dice  hausdorff_distance   jaccard
0     IXI002      1  0.888219            2.236068  0.798916
1     IXI012      1  0.873409            3.162278  0.775266
2     IXI013      1  0.876660            2.449490  0.780405
3     IXI014      1  0.856423           73.634231  0.748899
4     IXI015      1  0.865274            4.472136  0.762541

In [3]:
df = df.drop(['label', 'hausdorff_distance', 'jaccard'], axis=1)

In [4]:
df.head()

  subject_id      dice
0     IXI002  0.888219
1     IXI012  0.873409
2     IXI013  0.876660
3     IXI014  0.856423
4     IXI015  0.865274

In [5]:
df = df[df['dice'] < 0.8]

In [7]:
df.head(), df.shape

(   subject_id      dice
 7      IXI019  0.616037
 31     IXI050  0.765420
 39     IXI058  0.519735
 42     IXI061  0.651117
 44     IXI063  0.182026, (66, 2))

In [8]:
df.to_csv('/home/sathiesh/niftynet_brain/csv/ixi/deleted_files/deleted_files.csv', index=False)

# Delete files

In [9]:
data_path = '/data-nas/brains/IXI_Dataset/interim_copy_test/'

In [15]:
deleting_fn = df["subject_id"].values

In [16]:
def remove_folders(deleting_fn):
    for fn in deleting_fn: shutil.rmtree(f'{data_path}{fn}')

In [17]:
remove_folders(deleting_fn)