In [1]:
import numpy as np
import pandas as pd
import sys, os
import glob
from pprint import pprint
import csv
from collections import Counter

In [2]:
from pathlib import Path

In [3]:
df = pd.read_csv('/data-nas/sathiesh/niftynet_brain/models/ixi/dataset_split.csv', header=None)
df.head(5)
#training, inference, validation

        0          1
0  IXI002   training
1  IXI012   training
2  IXI013   training
3  IXI014  inference
4  IXI015   training

In [6]:
df[1] = 'inference' #values are now training 
df.head()

        0          1
0  IXI002  inference
1  IXI012  inference
2  IXI013  inference
3  IXI014  inference
4  IXI015  inference

In [9]:
df.to_csv('/data-nas/sathiesh/niftynet_brain/models/ixi/dataset_split.csv', index=False,header=None)